
  App.vue
  main.js
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #C2DDF2;
    
  }
  body {  display: block;
    margin: 0; 
    width: 100vw; 
    background-image: url('baggrund.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-color: #C2DDF2;
    font-family: "Lemon", serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    background-color: #C2DDF2;
  }
  .budget-h{ font-size: 30px;}
 

  .add-gift button {

    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
  }

  .tracker-container{ 
    width: 100%;
display: inline-block;
flex-direction: column;
align-items: center;}

.budget-overview{ 
display: flex;
align-items: center;
justify-content: center;
background-size: cover;
object-fit: cover;
padding: 20px;
background-repeat: no-repeat;
background-image: url(budgetbaggrund.png);
width: 500px;
height: 300px;
line-height: 1.1;}

.budget-overview2{ display: flex;
gap: 50px;}

.gift-sections{display: flex;
flex-direction: column;
width: 100%;
}

.gift-box{ 
    display: flex;
    width: 100%;
    height:400px;
    flex-direction: column;
align-items: center;
justify-content: center;
background-size: cover;
object-fit: cover;
    background-image: url(giftbaggrund.png);
    line-height: 1.1;
}
.add-gift {
    position: fixed; 
    bottom: 300px;    
    left: 80px;      
    z-index: 1000;   
  }
  
  .add-gift button {
    background-color: #765D43;
    color: white;
    font-size: 18px;
    padding: 2vw 4vw; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lemon", serif;
  }
  
  .add-gift button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    background-color: #5a4535; 
  }

  .popup {
    position: fixed; 
    top: 50%;
    gap: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    border: #89A68F 20px solid;
    border-radius: 10px;
    
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .popup ~ * {
    filter: blur(2px); 
  }
  
  body.popup-open {
    overflow: hidden; 
  }
  .popup-content label,
.popup-content input,
.popup-content button {
  margin-bottom: 20px; 
}
.popup-content input,
.popup-content button{
    padding: 15px;
}
.popup-content button{
    background-color: #765D43;
    color: white;
    font-size: 18px;   
    font-family: "Lemon", serif;
    border-radius: 10px;
}